/* Colores */
$verde: #44f056;
$rosa: #fd3a69;
$amarillo: #fecd1a;
$morado: #9d0191;
$azul: #120078;
$negro: #000;
$blanco: #fff;

/* Media QUeries */
$telefono: 400px;
$tablet: 720px;
$desktop: 920px;
/* Fuentes */
$fPrincipal: 'Roboto', sans-serif;
$regular: 400;
$negrita: 700;
$bolder: 900;

/* Separaciones */
$separacion: 5rem;
/* Transiciones */
$transicion: all 0.5s ease-out;
/* Opacidad */
$opacidad: 0.7;
