.sobre-festival {
    padding: $separacion 0;

    @include tablet {
        @include grid(2, $separacion/2);
    }

    .imagen {
        width: 100%;
    }
}
.contenido-festival {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    h2 {
        font-size: 3rem;
    }
    .fecha {
        color: $rosa;
        font-weight: $bolder;
    }
    .texto {
        line-height: 1.5;
    }
}
